/* .main-menu-area{} */
.logo{margin-top: 30px;}
.logo a{
    color: #ffffff;
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    /* margin-top: 18px; */
    text-transform: uppercase;
}
/* .main-menu{} */
/* .main-menu ul{} */
.main-menu ul li{
    display: inline-block;
}
.main-menu ul li a {
    color: #ffffff;
    display: block;
    font-weight: 700;
    padding: 30px 20px;
    text-transform: uppercase;
}
.single-slider{
    height: 100vh;
}
/* .slider-title{} */
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
 
}
.navbar-default{
    background-color: transparent;
}
.bg1 {
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(26,26,26,0.7), rgba(26,26,26,0.7)),url("../img/nungchill.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.bg-copy{
    padding-top: em(70);
    text-align: center;

}
.container1{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.container2{

    margin-top: 7%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
}
.container3{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
}
.container4{
    margin-top: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
}
.input[type="text"]{
    background: transparent;

    border: none;
}
label {

    color: #ffffff;
    display: block;
    padding: 10px;
    margin: 3px;
}
gg {
    cursor: pointer;
    color: #ffffff;
    display: block;
    padding: 10px;
    margin: 3px;
}
.principal3{
    left: 17% ;
    /* top: 100% ;  */
    transform: translate(-50%,-50%);
    position: absolute;
    letter-spacing: 5px;
    text-align: center;
    margin-left: 200px; 
    margin-top: 300px;
}